.container {
  font-family: "GmarketSans";
  background-color: "#FFE5C6";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.introImg {
  width: 80vw;
  height: 80%;
}

.bottom {
  background-image: url("../assets/images/main_background.png");
}

.textBox {
  padding-top: 160px !important;
  width: 80vw;
}

.titleIntro {
  font-size: 30px;
  font-family: "GmarketSans";
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.5;
}

.smallIntro {
  font-size: 20px;
  font-family: "GmarketSans";
  margin-bottom: 20px;
  line-height: 2;
  font-weight: 600;
}

.phone {
  width: 20vw;
}

/* .button {
}



.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "GmarketSans";
}

.middle-title {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Jalnan";
}

.contents {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Jalnan";
} */
